name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish @questdb/nodejs-questdb-client to npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run linter
        run: npm run eslint

      - name: Publish
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.CI_TOKEN }}
          access: public
          strategy: all
          package: package.json
